{% extends "company/base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Web page of Remontika Company</h2>
                    <p class="card-text">Remontika is a leading construction company specializing in residential and commercial projects. With a team of skilled professionals and a commitment to quality craftsmanship, we deliver exceptional results that exceed our clients' expectations. From renovations and remodeling to new construction projects, Remontika is your trusted partner for all your construction needs.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
